*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-center
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 3px solid transparent;
    border-bottom-color:grey;
    padding:7px;
}

.c1
{
    align-content: center;
    border:2px solid transparent;
    text-align: center;
    padding:7px;
    width:200px;
}

.nav-links
{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
    border:2px solid green;
    height:92.7vh;
}

.container > h2,.btn 
{
    border: 2px solid red;
    margin:10px;
    padding: 5px;
}


